[submodule "experiment/src/heuristics-experiment-interface"]
	path = experiment/src/heuristics-experiment-interface
	url = https://github.com/kalealex/heuristics-experiment-interface.git
[submodule "experiment/heuristics-experiment-interface"]
	path = experiment/heuristics-experiment-interface
	url = https://github.com/kalealex/heuristics-experiment-interface.git
[submodule "experiment/effect-size-jdm-experiment-interface"]
	path = experiment/effect-size-jdm-experiment-interface
	url = git@github.com:kalealex/effect-size-jdm-experiment-interface.git
