/* experiment and practice page */
#frame {
    max-width: 830px;
    margin: auto;
}
#frame.survey {
    max-width: 750px;
    margin: auto;
}
hr {
    clear: both;
}

/* tables for tiered tax and feedback*/
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px;
}
#tax {
    padding-top: 20px;
}
@media only screen and (min-width: 948px) { 
    #tax {
        padding-bottom: 20px;
    }
}
@media only screen and (max-width: 767px) { 
    #tax {
        padding-bottom: 20px;
    }
}

/* stimulus image */
#stim {
    padding: 20px;
}
.scale-width {
    width: 100%;
}
.scale-width img {
    width: 100%;
}

/* feedback */
@keyframes fadeOut {
    0% {
      opacity: 1;
    }  
    100% {
      opacity: 0;
    }
}
#feeback-catch {
    /* visibility: hidden;  */
    opacity: 0;
    /* transition: all 0.5s ease; */
}
#feedback-catch.show {
    color:crimson;
    /* visibility: visible;  */
    animation-name: fadeOut;
    animation-delay: 2.5s;
    animation-duration: 2s;
}
.padded {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* for survey */
.spaced {
    padding-right: 20px;
}
.survey-item {
    padding-top: 20px;
}

/** overlaid div when screen size is too small **/
.resize-container-hidden {
    display: initial;
    width: 100vw;
    height: 100vh;
    background-color: black;
    background: black;
    z-index: 10;
    position: fixed;
    left:0;
    top:0;
}
@media only screen and (min-width: 670px) { 
    .resize-container-hidden {
        display: none;
    }
}
.resize-container-hidden p {
    color: white;
}
body {
    overflow: hidden;
}
@media only screen and (min-width: 670px) { 
    body {
        overflow: auto;
    }
}


/* stimulus image and sliders */
/* column formatting */
/*.column {
    float: left;
}
.left {
    width: 60%;
}
.right {
    width: 40%;
} */
/* @media only screen and (max-width: 924px) { 
    .left {
        width: 90%;
    }
    .right {
        width: 100%;
    }
}
@media only screen and (min-width: 774px) {
    #prob, #bet, #stim {
        width: 80%;
    }
}
@media only screen and (min-width: 1224px) {
    #prob, #bet, #stim {
        width: 60%;
    } 
    .left {
        width: 60%;
    }
    .right {
        width: 40%;
    }
}
@media only screen and (min-width: 1824px) {
    #slider, #stim {
        width: 50%;
    }
} 