/* format table for tiered tax */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

/* column formatting */
.column {
    float: left;
}
.left {
    width: 75%;
}
.right {
    width: 25%;
}

/* padding */
.response, #stim, .spaced {
    padding-left: 40px;
    padding-right: 40px;
}
.spaced {
    padding-right: 20px;
}
.survey-item {
    padding-top: 20px;
}

/* scaling for columns, stimulus image and sliders */
@media only screen and (max-width: 924px) { 
    .left {
        width: 90%;
    }
    .right {
        width: 100%;
    }
}
@media only screen and (min-width: 774px) {
    #prob, #bet, #stim {
        width: 80%;
    }
}
@media only screen and (min-width: 1224px) {
    /* #prob, #bet, #stim {
        width: 60%;
    } */
    .left {
        width: 60%;
    }
    .right {
        width: 40%;
    }
}
@media only screen and (min-width: 1824px) {
    #slider, #stim {
        width: 50%;
    }
}